<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>SOSDentistes</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcu<!DOCTYPE html>
t icon" href="assets/fevicon.ico.png" type="assets/x-icon" />
   <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="assets/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="assets/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="assets/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="assets/responsive.css">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="assets/custom.css">
   <!-- Modernizer for Portfolio -->
   <script src="assets/modernizer.js"></script>
   <!-- [if lt IE 9] -->
   </head>

  <body>
    <%= yield %>
  </body>
</html>
